/* styling for blog posts */
// blog module
@media only screen and (min-width: 981px) {
	.single-post .et_pb_post .et_post_meta_wrapper img,
	.archive .et_pb_post img,
	.et_pb_posts .et_pb_post img,
	.et_pb_posts .et_overlay {
		//height: 180px !important;
		max-width: 600px;
		width: 60%;
		float: left;
		left: 0;
		margin-right: 25px;
	}
	.et_pb_posts {
		a.more-link {
			clear: none!important;
		}
	}
	.single-post .et_pb_post {
			.entry-content {
				padding-top: 0px;
			}
	}

}
