/* ----------- Colors ---------------------------------- */
// Font Colors
$reach-blue: #0088c7;
$menu-active: #0088c7;
$menu-font: #232323;
$reach-orange: #ffa73d;
// Background colors:

// special colors
$rk-peacock: #0890a6;
$rk-mint: #72cbb5;
$rk-purple: #6d2d83;
$rk-mustard: #b4975a;
$rk-cream-bkg: #f3f0e6;
$rk-divider: #c5c5c2;

$top-cta-bkg: #4e72b0;
$top-cta-font: #faf3e6;
$bottom-cta-bkg: rgba(78,114,176,0.22);
/* ----------- end Colors ----------- */
