/* gravity forms styling */
.gform_wrapper {
	.gfield.hide-label label {
		display: none;
	}
	.gform_footer {
		text-align: center;
		input[type=submit] { //  Submit  look like buttons on the site.
			  color: white;
		    padding: 6px 20px;
		    border-width: 0px;
		    font-size: 20px!important;
		    text-align: center;
		    cursor: pointer;
				background-color: $rk-peacock;
				//line-height: 1.7em;

			}
		input[type=submit]:hover {
			background-color: $rk-purple;
		}
	} // gform footer
} // gform wrapper
