/* **** media **** */
// Divi breakpts
// mobile menu shows at max-width:

@media all and (max-width: 980px) { // nav menu,  woo & footer widgtes

  .reach-row-stackorder {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap; /* Safari 6.1+ */
		flex-wrap: wrap;
		.reach-second-at-mobile {
			-webkit-order: 2;
			order: 2;
		}
		.reach-first-on-mobile {
			-webkit-order: 1;
			order: 1;
		}
	}
  #main-header {
    #logo {
      max-width: 80%;
    }
  }
}
@media only screen and (max-width: 960px) {

}
@media only all  and (max-width: 767px) {

}

@media all and (max-width: 479px) {
}
